## About the dataset

This dataset is taken from Kaggle: [Sleep Data](https://www.kaggle.com/datasets/danagerous/sleep-data?select=sleepdata.csv). It tracks the sleep cycles of a particular user from [2014-2018](../data/raw/sleepdata.csv) and [2018-2022](../data/raw/sleepdata_2.csv).

Both datasets have Start, End, and Sleep Quality (target) columns. Both datasets also have a few other faetures, but the data from 2018-2022 (sleepdata_2.csv) contains additional columns that the 2014-2018 (sleepdata.csv) data does not have.

In [31]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [32]:
df = pd.read_csv("../data/raw/sleepdata.csv")
print(df.shape)
df.head()

(1775, 8)

,Start,End,Sleep quality,Time in bed,Wake up,Sleep Notes,Heart rate,Activity (steps)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-12-29 22:57,2014-12-30 7:30,1.00,8:32:00 AM,:),NaN,59.0,0.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-12-30 21:17,2014-12-30 21:33,0.03,12:16:00 AM,:|,Stressful day,72.0,0.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df2 = pd.read_csv("../data/raw/sleepdata_2.csv", encoding='windows-1252')
print(df2.shape)
df2.head()

(921, 21)

,Start,End,Sleep Quality,Regularity,Mood,Heart rate (bpm),Steps,Alarm mode,Air Pressure (Pa),City,...,Time in bed (seconds),Time asleep (seconds),Time before sleep (seconds),Window start,Window stop,Did snore,Snore time,Weather temperature (°C),Weather type,Notes
0,2019-05-12 23:26,2019-05-13 6:11,0.60,0.00,NaN,0,8350,Normal,NaN,NaN,...,24289.2,22993.8,161.9,2019-05-13 6:00,2019-05-13 6:00,True,92,0.0,No weather,NaN
1,2019-05-13 22:10,2019-05-14 6:10,0.73,0.00,NaN,0,4746,Normal,NaN,NaN,...,28810.2,25160.9,192.1,2019-05-14 5:50,2019-05-14 5:50,True,0,0.0,No weather,NaN
2,2019-05-14 21:43,2019-05-15 6:10,0.86,0.96,NaN,0,4007,Normal,NaN,NaN,...,30461.5,28430.8,203.1,2019-05-15 5:50,2019-05-15 5:50,True,74,0.0,No weather,NaN
3,2019-05-15 23:11,2019-05-16 6:13,0.77,0.92,NaN,0,6578,Normal,NaN,NaN,...,25327.6,23132.5,168.9,2019-05-16 5:50,2019-05-16 5:50,True,0,0.0,No weather,NaN
4,2019-05-16 23:12,2019-05-17 6:20,0.78,0.94,NaN,0,4913,Normal,NaN,NaN,...,25698.4,22614.6,171.3,2019-05-17 5:50,2019-05-17 5:50,True,188,0.0,No weather,NaN